@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* SİYAH PERDEMİ OLUŞTURUYORUM */
section{
    position: relative;
    height: 100vh;
    width: 100%;
    background: #121321;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    perspective: 1000PX;
}
.container{
    position: relative;
    height: 225px;
    width: 375px; 
    z-index: 100;
    transition: 2s;
    transform-style: preserve-3d;
}
/* TOPLARIMI OLUŞTURUYORUM */
section::before{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg, #9C27B0, #F3F5F5);
    border-radius: 50%;
    transform: translate(-150px,-100px);
}

section::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg, #9C27B0, #F3F5F5);
    border-radius: 50%;
    transform: translate(150px,100px);
}

/* KARTIMI STİLLENDİRİYORUM */

.container .card{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    padding: 25px;
    backdrop-filter: blur(25px);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
}

.container:hover{
    transform: rotateY(180deg);
}

.front-face header,
.front-face .logo{
    display: flex;
    align-items: center;
}

.front-face header{
    justify-content: space-between;
}

.front-face .logo img{
    width: 48px;
    margin-right: 10px;

}
h5{
    font-size: 16px;
    font-weight: 400;
}

.front-face .chip{
    width: 50px;
}

.front-face .card-details {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: flex-end;
}
h6{
    font-size: 10px;
    font-weight: 400;
}

h5.number{
    font-size:18px;
    letter-spacing: 1px;
}

h5.name {
    margin-top: 20px;
}

/* KARTIN ARKA YÜZÜNE GEÇİYORUZ */

.card.back-face {
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
}

.card.back-face .magnetic-strip{
    /* position: absolute; */
    height: 45px;
    width: 100%;
    top: 40px;
    background: #000000;
    margin-top: 10px;

}
.card.card.back-face h5{
    font-size: 8px;
    margin-top: 15px;
}

.card.back-face .signature{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: repeating-linear-gradient(
    #fff,
    #fff 3px,
    #EFEFEF 0px,
    #EFEFEF 9px
  );
    margin-top: 30px;
    height: 40px;
    width: 85%;
    border-radius: 6px;
}

.signature i{
    color: #000;
    font-size: 12px;
    background-color: white;
    margin-right: -30px;
    padding: 4px 6px;
    border-radius: 5px;
    z-index: -1;
}